/*Standard stylings*/

body{
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	background-image: url("../img/KHbg.png");
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
}
.row{
	font-size: 24px;
}

.navbar{
	margin-bottom: 10px;
}

img{
	float: left;
}

.floatRight{
	float: right;
}

.testRed{
	background-color: rgba(255,0,0,.5);
	font-size: 24px;
}

.container{
	font-size: 0;
}

/*Main page stylings*/

.jumbotron{
	font-size: 2em;
	text-align: center;
	background-color: rgba(100,135,239,0.2);
}

.landingText{
	text-align: center;
	width: 100%;
	height: 600px;
	background-color: rgba(30,40,71,0.7);
	padding: 25px;
}
.landingImage{
	display: block;
	float: none;
	margin: auto;
}

/*Newsletter stylings*/

.newsletter{
	background-color: rgba(30,40,71,0.7);
	padding: 25px;
	margin: 15px;
	width: 45%;
	height: 450px;
	text-align: justify;
}
.newsletter img{
	margin: auto;
	display: block;
	float: none;
}
.check{
	font-size: 0.5em;
}
input[type="checkbox"]{
	margin-right: 4px;
}

/*Character stylings*/
.selector{
	background-color: rgba(30,40,71,0.7);
	text-align: center;
	margin: auto;
	display: block;
}
.selector h1{
	margin: 5px;
	font-weight: 900;
	font-size: 1.4em
}
.nameHeader{
	background-color: rgba(30,40,71,0.7);
	height: 50px;
}
.bodySection{
	background-color: rgba(30,40,71,0.7);
	height: 650px;
}
#charName{
	text-align: center;
	font-weight: 900;
	font-size: 2em;
}
select{
	color: black;
	font-size: 0.5em;
	margin: 10px auto;
	display: block;
}

h2{
	text-align: center;
}

.blogHead{
	display: inline;
	text-align: center;
}
.blogHead h2{
	font-weight: bold;
}

.blue{
	background-color: blue;
}

footer{
	position: fixed;
	display: block;
	width: 100%;
	bottom: 0;
	margin-top: 5px;
	padding-top: 5px;
	background-color: rgba(100,135,239,0.2);
}
footer p{
	font-size: 12px;
}