body{
	padding-top: 50px;
	font-family: 'Raleway', sans-serif;
	background-image: url("../img/KHbg.png");
	background-repeat: repeat;
	background-attachment: fixed;
	color: white;
}

.navbar{
	margin-bottom: 10px;
}

.testRed{
	background-color: rgba(255,0,0,.5);
	font-size: 24px;
}

.container{
	font-size: 0;
}

.jumbotron{
	font-size: 2em;
	text-align: center;
	background-color: rgba(100,135,239,0.2);
}

img{
	float: left;
}

.floatRight{
	float: right;
}
h2{
	text-align: center;
}

.blogHead{
	display: inline;
	text-align: center;
}
.blogHead h2{
	font-weight: bold;
}

.blue{
	background-color: blue;
}

footer{
	position: fixed;
	display: block;
	width: 100%;
	bottom: 0;
	margin-top: 5px;
	padding-top: 5px;
	background-color: rgba(100,135,239,0.2);
}
footer p{
	font-size: 12px;
}