body{
	padding-top: 70px;
}

.navbar{
	margin-bottom: 10px;
}

.testRed{
	background-color: rgba(255,0,0,.5);
	font-size: 24px;
	border-radius: 10px;
}

.container{
	font-size: 0;
}

.jumbotron{
	font-size: 2em;
	text-align: center;
}