<div class="container">
	<div class="row">
		<div onmouseover="blogOver(this)" onmouseout="blogOut(this)" class="testRed col-sm-12 col-md-12 col-lg-12">
			<div class="blogHead" data-toggle="collapse" data-target="#post1"><h2>Rumours of a ps4 bundle</h2><p>23 Oct 2017</p></div>
			<hr>
			<div id="post1" class="collapse">
				<figure>
					<img src="img/ps4Collection.jpg" alt="ps4 german listing" width="400px" height="250px">
				</figure>
				<p>Recently, it has been rumoured that a new collection will be making its way
				to the PS4. Despite already having the collections (1.5 and 2.5) with the recent
				addition of 2.8 to that roster, everything is already available for anyone who
				would like to catch up with the story.</p>
				<p>But who could resist the cash grab of bringing all three of these games 
				together to tide people over until the eventual release in (supposedly) 2018!</p>
			</div>
		</div>
		<div onmouseover="blogOver(this)" onmouseout="blogOut(this)" class="testRed col-sm-12 col-md-12 col-lg-12">
			<div class="blogHead" data-toggle="collapse" data-target="#post2"><h2>Kairi EX and redefining the meta</h2><p>16 Oct 2017</p></div>
			<hr>
			<div id="post2" class="collapse">
				<figure>
					<img src="img/KairiEX.png" class="floatRight" alt="Kairi EX medal" width="350px" height="350px">
				</figure>
				<p>Kingdom Hearts Unchained X, a simple game with so many complexities that for some
				it just becomes a hardcore grind with a power creep that makes some players unable to
				even experience some of the small interspersed story peppercoated into this near 700
				(currently for global) level medalfest.</p>
				<p>Coming soon to a phone near you is the massively coveted Kairi EX, a medal that
				according to a large part of the Kingdom Hearts subreddit is changing the entire meta.
				No setup or build will be without this medal, making the rest of the content available
				much more manageable for everyone!</p>
			</div>
		</div>
		<div onmouseover="blogOver(this)" onmouseout="blogOut(this)" class="testRed col-sm-12 col-md-12 col-lg-12">
			<div class="blogHead" data-toggle="collapse" data-target="#post3"><h2>Character details confirmed!</h2><p>9 Oct 2017</p></div>
			<hr>
			<div id="post3" class="collapse">
				<figure>
					<img src="img/Sora.png" alt="Sora in KH3" width="450px" height="700px">
				</figure>
				<p>Some of the most important news we've had so far. What we have always wanted to know
				is the heights of our favourite characters. Nomura confirmed that the height of Sora is
				a meager 5ft2! Crazy how short he is considering his big ol' feet!</p>
				<p>This has led to research being done online to find out the heights of other characters
				by using the available character models through data mining. Although this can be slightly 
				weird since it would make characters like Lexaeus over 7ft tall. These games aren't exactly
				known for their realism so you never know, these could be the actual heights!</p>
				<p>Another exciting piece of news we've been told is Sora's birthday. Much like many game
				characters, the main characters birthday tends to be the debut of the first game they are
				apart of. This means that Sora's birthday is 28th March. Not the most game breaking of news
				nor does it really add to the overall plot but it is something!</p>
			</div>
		</div>
	</div>
</div>
