<div class="container">
	<div class="row">
		<div class="testRed col-sm-12 col-md-12 col-lg-12">
			<h1>Characters</h1>
			<select onchange="displayChar(this.value)">
				<option value="">Please Select</option>
				<option value="Sora">Sora</option>
				<option value="Riku">Riku</option>
				<option value="Kairi">Kairi</option>
			</select>
		</div>

		<div class="testRed col-sm-12 col-md-12 col-lg-12">
			<p id="charName"></p>
		</div>
		<div class="testRed col-sm-12 col-md-6 col-lg-4">
			<figure id="charImage"></figure>
		</div>
		<div class="testRed col-sm-12 col-md-12 col-lg-4">
			<p id="charInfo"></p>
		</div>
		<div class="testRed col-sm-12 col-md-6 col-lg-4">
			<p id="weaponName"></p>
			<figure id="charWeapon"></figure>
		</div>
	</div>
</div>