<div class="jumbotron">
	<h1>{{title}}</h1>
	<p>The first stop for all your Kingdom Hearts related news, developments and media!</p>
</div>
<div class="container">
	<div class="row">
		<div class="landingText col-sm-12 col-md-12 col-lg-12">
			<p>Kingdom Hearts is the massively successful game series made by Square-Enix and bringing in both Disney and Final Fantasy 
			characters. Deepening it's convoluted plot across 7 full games, multiple remasters including new content and a popular free
			app which adds even more integral plot, it's no wonder we need places to keep all of this information together!</p>
			<p>Keep up with new updates by signing up to our newsletter, and find out when new information is being released!</p>
			<br>
			<figure>
				<img class="landingImage" src="img/KH3Logo.png" alt="KH3 Logo" width="52%" height="52%"/>
				<figcaption>The Home of Kingdom Hearts 3</figcaption>
			</figure>
		</div>
	</div>
</div>