<div class="testRed jumbotron">
	<h1>{{title}}</h1>
	<p>The first stop for all your Kingdom Hearts related news, developments and media!</p>
</div>
<div class="container">
	<div class="row">
		<div class="testRed col-sm-12 col-md-6 col-lg-8">
			<h2>About:</h2>
			<p>Kingdom Hearts is the massively successful game series made by Square-Enix and bringing in both Disney and Final Fantasy 
			characters. Deepening it's convoluted plot across 7 full games, multiple remasters including new content and a popular free
			app which adds even more integral plot, it's no wonder we need places to keep all of this information together!</p>
		</div>
		<div class="testRed col-sm-12 col-md-6 col-lg-4">
			<h1>The latest blog post will go here</h1>
		</div>
	</div>
</div>